In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pubg2 = pd.read_csv("pubg.csv")
pubg2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4444415 entries, 0 to 4444414
Data columns (total 29 columns):
 #   Column           Dtype
---  ------           -----
 0   Id               object
 1   groupId          object
 2   matchId          object
 3   assists          int64
 4   boosts           int64
 5   damageDealt      float64
 6   DBNOs            int64
 7   headshotKills    int64
 8   heals            int64
 9   killPlace        int64
 10  killPoints       int64
 11  kills            int64
 12  killStreaks      int64
 13  longestKill      float64
 14  matchDuration    int64
 15  matchType        object
 16  maxPlace         int64
 17  numGroups        int64
 18  rankPoints       int64
 19  revives          int64
 20  rideDistance     float64
 21  roadKills        int64
 22  swimDistance     float64
 23  teamKills        int64
 24  vehicleDestroys  int64
 25  walkDistance     float64
 26  weaponsAcquired  int64
 27  winPoints        int64
 28  y                int64
dtypes: float64(5), int64(20), object(4)
memory usage: 983.3+ MB

In [3]:
# create a new feature for number of players in a match
pubg2['numPlayers'] = pubg2.groupby('matchId')['matchId'].transform('count')
pubg2.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,y,numPlayers
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.0,0,0,0,60,...,0.0000,0,0.00,0,0,244.80,1,1466,0,96
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.5,0,0,0,57,...,0.0045,0,11.04,0,0,1434.00,5,0,0,91
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.0,0,0,0,47,...,0.0000,0,0.00,0,0,161.80,2,0,0,98
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.9,0,0,0,75,...,0.0000,0,0.00,0,0,202.80,3,0,0,91
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.0,0,0,0,45,...,0.0000,0,0.00,0,0,49.75,2,0,0,97

In [4]:
pubg2['groupSize'] = pubg2.groupby('groupId')['groupId'].transform('count')
pubg2.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,y,numPlayers,groupSize
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.0,0,0,0,60,...,0,0.00,0,0,244.80,1,1466,0,96,4
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.5,0,0,0,57,...,0,11.04,0,0,1434.00,5,0,0,91,4
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.0,0,0,0,47,...,0,0.00,0,0,161.80,2,0,0,98,2
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.9,0,0,0,75,...,0,0.00,0,0,202.80,3,0,0,91,1
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.0,0,0,0,45,...,0,0.00,0,0,49.75,2,0,0,97,1

In [5]:
# from collections import Counter
pubg2['meanGroupSize'] = pubg2.groupby('matchId')['groupSize'].transform('mean')
pubg2.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,y,numPlayers,groupSize,meanGroupSize
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.0,0,0,0,60,...,0.00,0,0,244.80,1,1466,0,96,4,4.333333
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.5,0,0,0,57,...,11.04,0,0,1434.00,5,0,0,91,4,4.626374
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.0,0,0,0,47,...,0.00,0,0,161.80,2,0,0,98,2,2.367347
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.9,0,0,0,75,...,0.00,0,0,202.80,3,0,0,91,1,3.923077
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.0,0,0,0,45,...,0.00,0,0,49.75,2,0,0,97,1,1.041237

In [6]:
pubg2['damageDealtN'] = pubg2['damageDealt']*((100-pubg2['numPlayers'])/100 + 1)
pubg2['matchDurationN'] = pubg2['matchDuration']*((100-pubg2['numPlayers'])/100 + 1)
pubg2['maxPlaceN'] = pubg2['maxPlace']*((100-pubg2['numPlayers'])/100 + 1)
pubg2['killsN'] = pubg2['kills']*((100-pubg2['numPlayers'])/100 + 1)
pubg2[['numPlayers','damageDealt','damageDealtN', 'matchDuration','matchDurationN', 'maxPlace', 'maxPlaceN', 'kills', 'killsN']].head()

,numPlayers,damageDealt,damageDealtN,matchDuration,matchDurationN,maxPlace,maxPlaceN,kills,killsN
0,96,0.0,0.000,1306,1358.24,28,29.12,0,0.00
1,91,91.5,99.735,1777,1936.93,26,28.34,0,0.00
2,98,68.0,69.360,1318,1344.36,50,51.00,0,0.00
3,91,32.9,35.861,1436,1565.24,31,33.79,0,0.00
4,97,100.0,103.000,1424,1466.72,97,99.91,1,1.03

In [7]:
pubg2 = pubg2.drop(columns = ['numPlayers','damageDealt', 'matchDuration', 'maxPlace', 'kills'])

In [8]:
pubg2['items'] = pubg2['heals'] + pubg2['boosts']
pubg2['total_distance'] = pubg2['rideDistance'] + pubg2['swimDistance'] + pubg2['walkDistance']
pubg2[['heals','boosts', 'items','rideDistance', 'swimDistance', 'walkDistance','total_distance']].head()

,heals,boosts,items,rideDistance,swimDistance,walkDistance,total_distance
0,0,0,0,0.0000,0.00,244.80,244.8000
1,0,0,0,0.0045,11.04,1434.00,1445.0445
2,0,0,0,0.0000,0.00,161.80,161.8000
3,0,0,0,0.0000,0.00,202.80,202.8000
4,0,0,0,0.0000,0.00,49.75,49.7500

In [9]:
pubg2[['heals','boosts', 'items','rideDistance', 'swimDistance', 'walkDistance','total_distance']].head()
# pubg2 = pubg2.drop(columns = ['heals','boosts', 'rideDistance', 'swimDistance', 'walkDistance'])

,heals,boosts,items,rideDistance,swimDistance,walkDistance,total_distance
0,0,0,0,0.0000,0.00,244.80,244.8000
1,0,0,0,0.0045,11.04,1434.00,1445.0445
2,0,0,0,0.0000,0.00,161.80,161.8000
3,0,0,0,0.0000,0.00,202.80,202.8000
4,0,0,0,0.0000,0.00,49.75,49.7500

## Overview and Comparison

In [10]:
solo_data = pubg2[pubg2['matchType'].str.contains('solo')]
duo_data = pubg2[pubg2['matchType'].str.contains('duo')]
squad_data = pubg2[pubg2['matchType'].str.contains('squad')]

In [11]:
solo_top = solo_data[solo_data['y']==1]
solo_nontop = solo_data[solo_data['y']==0]
duo_top = duo_data[duo_data['y']==1]
duo_nontop = duo_data[duo_data['y']==0]
squad_top = squad_data[squad_data['y']==1]
squad_nontop = squad_data[squad_data['y']==0]

In [12]:
print('The mean of walkDistance of solo top 10%: {:.2f}'.format(solo_top['walkDistance'].mean()))
print('The mean of walkDistance of solo bottom 90%: {:.2f}'.format(solo_nontop['walkDistance'].mean()))
print('The mean of walkDistance of duo top 10%: {:.2f}'.format(duo_top['walkDistance'].mean()))
print('The mean of walkDistance of duo bottom 90%: {:.2f}'.format(duo_nontop['walkDistance'].mean()))
print('The mean of walkDistance of squad top 10%: {:.2f}'.format(squad_top['walkDistance'].mean()))
print('The mean of walkDistance of squad bottom 90%: {:.2f}'.format(squad_nontop['walkDistance'].mean()))

The mean of walkDistance of solo top 10%: 2569.00
The mean of walkDistance of solo bottom 90%: 768.31
The mean of walkDistance of duo top 10%: 2834.03
The mean of walkDistance of duo bottom 90%: 911.13
The mean of walkDistance of squad top 10%: 2882.22
The mean of walkDistance of squad bottom 90%: 1042.96

In [13]:
print('The mean of killPlace of solo top 10%: {:.2f}'.format(solo_top['killPlace'].mean()))
print('The mean of killPlace of solo bottom 90%: {:.2f}'.format(solo_nontop['killPlace'].mean()))
print('The mean of killPlace of duo top 10%: {:.2f}'.format(duo_top['killPlace'].mean()))
print('The mean of killPlace of duo bottom 90%: {:.2f}'.format(duo_nontop['killPlace'].mean()))
print('The mean of killPlace of squad top 10%: {:.2f}'.format(squad_top['killPlace'].mean()))
print('The mean of killPlace of squad bottom 90%: {:.2f}'.format(squad_nontop['killPlace'].mean()))

The mean of killPlace of solo top 10%: 14.44
The mean of killPlace of solo bottom 90%: 51.33
The mean of killPlace of duo top 10%: 16.17
The mean of killPlace of duo bottom 90%: 51.13
The mean of killPlace of squad top 10%: 18.44
The mean of killPlace of squad bottom 90%: 51.23

In [14]:
print('The mean of total_distance of solo top 10%: {:.2f}'.format(solo_top['total_distance'].mean()))
print('The mean of total_distance of solo bottom 90%: {:.2f}'.format(solo_nontop['total_distance'].mean()))
print('The mean of total_distance of duo top 10%: {:.2f}'.format(duo_top['total_distance'].mean()))
print('The mean of total_distance of duo bottom 90%: {:.2f}'.format(duo_nontop['total_distance'].mean()))
print('The mean of total_distance of squad top 10%: {:.2f}'.format(squad_top['total_distance'].mean()))
print('The mean of total_distance of squad bottom 90%: {:.2f}'.format(squad_nontop['total_distance'].mean()))

The mean of total_distance of solo top 10%: 3823.75
The mean of total_distance of solo bottom 90%: 1145.36
The mean of total_distance of duo top 10%: 4278.68
The mean of total_distance of duo bottom 90%: 1418.60
The mean of total_distance of squad top 10%: 4300.17
The mean of total_distance of squad bottom 90%: 1603.52

In [15]:
print('The mean of boosts of solo top 10%: {:.2f}'.format(solo_top['boosts'].mean()))
print('The mean of boosts of solo bottom 90%: {:.2f}'.format(solo_nontop['boosts'].mean()))
print('The mean of boosts of duo top 10%: {:.2f}'.format(duo_top['boosts'].mean()))
print('The mean of boosts of duo bottom 90%: {:.2f}'.format(duo_nontop['boosts'].mean()))
print('The mean of boosts of squad top 10%: {:.2f}'.format(squad_top['boosts'].mean()))
print('The mean of boosts of squad bottom 90%: {:.2f}'.format(squad_nontop['boosts'].mean()))

The mean of boosts of solo top 10%: 4.04
The mean of boosts of solo bottom 90%: 0.71
The mean of boosts of duo top 10%: 3.77
The mean of boosts of duo bottom 90%: 0.78
The mean of boosts of squad top 10%: 3.32
The mean of boosts of squad bottom 90%: 0.87